

//
//  CATEGORY - LITERATURE
//––––––––––––––––––––––––––––––––––––––––––––––––––

$page-header-bg-literature: #233624;

$page-header-literature-icon-color: #5dc562;
$page-header-literature-icon-shadow: darken($page-header-literature-icon-color, 25%);


//
//  PAGE HEADER
//––––––––––––––––––––––––––––––––––––––––––––––––––

.category-literature {
  .section__page-header {
    background-color: $page-header-bg-literature;
    background-image: url('/img/uploads/featured-image-category-literature.png');
    background-size: cover;
  }

  .page-header__icon {
    background-color: $page-header-bg-literature;
  }

  .page-header__icon-wrapper {
    color: $page-header-literature-icon-color;
    font-family: $heading-font-family;
    font-size: rem(40px);
    font-weight: bold;
    left: 50%;
    letter-spacing: -.075em;
    line-height: 1;
    position: absolute;
    text-align: center;
    text-shadow: 0 4px 0 $page-header-literature-icon-shadow;
    text-shadow: 0 1px 0 $page-header-literature-icon-shadow,
                 0 2px 0 $page-header-literature-icon-shadow,
                 0 3px 0 $page-header-literature-icon-shadow,
                 0 4px 0 $page-header-literature-icon-shadow;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
}

@include respond-above(xs) {
  .category-literature {
    .page-header__icon-wrapper {
      font-size: rem(56px);
    }
  }
}

// @include respond-above(sm) {
//   .category-literature {
//     .page-header__icon-wrapper {
//       // font-size: rem(60px);
//     }
//   }
// }

@include respond-above(lg) {
  .category-literature {
    .page-header__icon-wrapper {
      font-size: rem(64px);
    }
  }
}
